body{
   background: #e3d9cd!important;
}
.App {
  text-align: center;
}

*{
  outline: 1px solid red;
}

.vertical-timeline--two-columns .vertical-timeline-element-content .vertical-timeline-element-date{
  font-size: 20px;
}

.ProfileIntro{
  background-color: #6c7874;  
}

.TechStack{
  background-color: #b0b1a1;
}